body{
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: url(FondoCodigo4.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: sans-serif;
}

.navegacion{
	width: 334px;
	margin: -80px 1035px;
	background: gray;
	text-align: left;
}


.menu {
	cursor: pointer;
}


.navegacion ul{
	list-style: none;
}


.menu > li{
	display: inline-block;
}


.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: wheat;
	font-family: 'open sans';
	text-decoration: none;
}


.menu li a:hover{
	color: black;
	transition: all .9s;
}


.submenu{
	position: absolute;
	background: gray;
	width: 100% auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 4.5s;
}


.submenu li a{
	display: block;
	padding: 15px;
	color: white;
	font-family:'open sans';
	text-decoration: none;
}


.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}